<!-- yebapp/templates/yebapp/userlist.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User List</title>
  </head>
  <body>
    <h1>User List</h1>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Shirt size</th>
        <!-- Add other fields as needed -->
      </tr>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <!-- <td>{{ user.description }}</td> -->
        <!-- <td>{{user.}}}</td> -->
        <!-- Add other fields as needed -->
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
